.map{}

body{background-color: bdd5ea}
#miid{background-color: bdd5ea;}
.button{border-color: white; border-radius: 3em}
#nov{background-color: lightgreen; border-color: white}
#lub{background-color: turquoise ;border-color: white}
#pro{background-color: skyblue;border-color: white}
.shapka{ height: 13em; color:#006d77; background-color: #006d77}
.jumbotron{background-color: #83c5be; color: white; font-family: }
#midle{border-radius: 10%}
.btn-info{border-radius: 3em}
#logo{border-radius: 5%;}
#poisk{margin-left: 1em }